<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- Servlets -->
    <servlet>
        <servlet-name>SubmitQuestionnaireServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.SubmitQuestionnaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListChallengesServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.ListChallengesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitCodeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.SubmitCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinChallengeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.JoinChallengeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStateServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.GetStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStateServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.UpdateStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.SubscribeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.UnsubscribeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddChallengeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.admin.AddChallengeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteChallengeServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.admin.DeleteChallengeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GenerateGridServlet</servlet-name>
        <servlet-class>org.inspirecenter.amazechallenge.servlet.admin.GenerateGridServlet</servlet-class>
    </servlet>

    <!-- Mappings -->
    <servlet-mapping>
        <servlet-name>SubmitQuestionnaireServlet</servlet-name>
        <url-pattern>/api/submitQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListChallengesServlet</servlet-name>
        <url-pattern>/api/challenge/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitCodeServlet</servlet-name>
        <url-pattern>/api/submitCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinChallengeServlet</servlet-name>
        <url-pattern>/api/challenge/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStateServlet</servlet-name>
        <url-pattern>/api/state/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStateServlet</servlet-name>
        <url-pattern>/api/state/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/api/state/subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnsubscribeServlet</servlet-name>
        <url-pattern>/api/state/unsubscribe</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddChallengeServlet</servlet-name>
        <url-pattern>/api/challenge/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteChallengeServlet</servlet-name>
        <url-pattern>/api/challenge/delete</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>GenerateGridServlet</servlet-name>
        <url-pattern>/api/challenge/generateGrid</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>org.inspirecenter.amazechallenge.contextlistener.FirestoreContextListener</listener-class>
    </listener>

</web-app>

